.tree-progress
{
	font-size: 10px;
	position: absolute;
	border: 1px solid #555;
	padding: 2px;
	bottom: -15px;
	right: -15px;
	background-color: white;
	border-radius: 3px;
	color: black;
}

.set-image
{
	display: inline-block;
	margin-right: 5px;
    padding: 3px;
    border: 3px inset #999;
    border-radius: 5px;
	position: relative;
}

.set-title
{
	margin-left: 15px;
}

h2
{
	margin-top: 10px;
	font-size: 22px;
}

h3
{
	font-size: 18px;
}

#subcategorytabs li
{
	cursor: pointer;
}

.subcatcases
{
	font-size: 12px;
    text-align: center;
}


.category-description
{
	background-color: #222;
	padding: 10px;
}


.card-set-header .category-name
{
	font-weight: bold;
	font-size: 32px;
}
.category-description .category-name
{
	font-weight: bold;
	font-size: 32px;
	padding-top: 15px;
}

.subcaption
{
	font-weight: bold;
	font-size: 16px;
}

.etmdisplay:before
{
	content: url(assets/icons/tps-icons_ETM-White-med.png);
}

.etmdisplay
{
	display: flex;
    align-items: center;
	margin-right: 10px;
}

.set-image
{
	display: inline-block;
	margin-right: 15px;
    padding: 3px;
    border: 3px inset #999;
    border-radius: 5px;
	position: relative;
}

.category-summary
{
	display: inline-flex;
    flex-direction: column;
	flex: 1 1 0px;
	background-color: white;
	padding: 5px;
	margin: 5px;
    align-items: center;
	border-radius: 5px;
	cursor: pointer;
    border: 1px solid #555;
	background-color: #111;
}

.category-summary.active
{
	background-color: #444;
}

.category-summary:hover
{
	background-color: #222;
}


.category-summary > div:nth-child(2)
{
	text-align: center;
	flex: 1;
    display: flex;
    align-items: center;
}

.subset-select
{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	background-color: white;
	padding: 10px;
	background-color: #222;
}

.related-category-link
{
	display: inline-flex;
    background-color: #222;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 3px;
    flex-direction: column;
	align-items: center;
}


.singlealgorithm-status
{
	display: inline-flex;
}

.singlealgorithm
{
	display: flex;
	margin-top: 10px;
	background-color: #181818;
}

.singlealgorithm > div:nth-child(1)
{
	color: white;
}	

.list-group-item
{
	background-color: #222;
	color: #fff;
    border-color: #555;
}

.alg-list-group .list-group-item
{
	background-color: #222;
	color: white;
    align-items: center;
    justify-content: space-between;
}

.selectbox-learnt[data-learnt="0"],
.action-learnt[data-value="0"]
{
	background-color: #f22;
}


.selectbox-learnt[data-learnt="1"],
.action-learnt[data-value="1"]
{
	background-color: #6e6e15;
}


.selectbox-learnt[data-learnt="2"],
.action-learnt[data-value="2"]
{
	background-color: #12600a;
}

.youtubefingertricksvideo
{
	max-height: 40px;
    padding-left: 10px;
	position: relative;
}

.algtype-tabs
{
	padding-top: 5px;
	background-color: #444;
}


.algtype-tabs button
{
	background-color: #151515;
	border-bottom-left-radius: 0; 
	border-bottom-right-radius: 0; 
	border-top-left-radius: 7px; 
	border-top-right-radius: 7px;
	border: none !important;
}


.selectbox-menu
{
	position: relative;	
    display: flex;
    flex-direction: column;
    width: 65px;
    border-color: #555;
}

.selectbox-menu:hover
{
    background-color: #333;
    border-color: #aaa;
    color: white;
}

.selectbox-menu small
{
	font-size: 10px;
}


.selectbox-dropdown
{
	position: absolute;
	display: none;
	top: 100%;
	right: 0px;
	padding: 0px;
	background-color: white;
	list-style: none;
	border: 1px solid black;
	color: black;
	z-index: 100;
	min-width: 110px;
}

.selectbox-dropdown li
{
	margin: 0px;
	padding: 5px 10px;
	display: flex;
	font-size: 12px;
	align-items: center;
}

.selectbox-dropdown li:hover
{
	background-color: #ddd;
}
